body {
    padding: 0;
    margin: 0;
}

.mainContainer {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.canvasContainer {
    align-self: center;
    /*border: 1px solid cornsilk;*/
    display: flex;
    position: relative;
    width: 90%;
    height: 85%;
}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.statusBar {
    /*border: 1px solid cornsilk;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
}